* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size:  100%;
}

body {
  padding: 1.5rem;
}

.btn-back {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-toggle {
position: absolute;
top: 0.4rem;
right: 0.4rem;
height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
z-index: 999;
display: flex;
  align-items: center;
  justify-content: center;
}


/* Navbar and Search */

.navbar {
  background-color: bisque;
  margin: 0 auto;
  width: 95%;
  height: 4rem;
  border-radius: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  padding-left: 2rem;
  align-items: center;
  gap: 0.5rem;
}

.nav-result {
  padding-right: 2rem;
}

.nav-search {
  font-size: 1.5rem;
  width: 50%;
}

/* Main and Box */
.main {
  display: flex;
  margin-top: 2rem;
  height: calc(100vh - 4.5rem - 3 * 1.5rem);
justify-content: center;
gap: 1.5rem;

}

.box {
  position: relative;
  width: 37rem;
  max-width: 37rem;
  background-color: blanchedalmond;
  border-radius: 11px;
  
}

/* AnimeList and AnimeInfo  */
.anime-ul {
  list-style: none;
  padding: 0.5rem 0;
}

.anime-info-li {
  display: flex;
  gap: 2rem;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #c4b3b346;
}

.anime-info-li img {
  width: 4.7rem;
}

/* Watched Anime Summary */
.watched-anime-container {
  background-color:rgb(252, 216, 170);
  padding: 1rem 1.7rem;
  border-radius: 11px;

}

.watched-anime-container > div {
display: flex;
gap: 5rem;
margin-top: 0.5rem;

}


/* Anime Details */
.anime-details-flex {
  position: relative;
  display: flex;
  gap: 1rem;
  
}

.anime-details-flex > div {
  padding: 1rem;
}

.anime-details-synopsis {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 2rem;
  line-height: 1.3;
  gap: 1rem;
}

